<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SecPicus.com -- 向大佬学习,挖掘机构投资者股票持仓</title>

</head>
<body>

<div class="header">
    <img src="static/logo.png" alt="Logo" id="logo">
</div>

<div class="search">
  <input type="text" id="manager_name" class="search-bar" placeholder="搜索框">
  <button class="search-button" id="query-btn" onclick="query()">点击</button>
</div>

<div class="manager row" >
  <span id="A" onclick="scrollToLetter('A')">A</span>
  <span id="B" onclick="scrollToLetter('B')">B</span>
  <span id="C" onclick="scrollToLetter('C')">C</span>
  <span id="D" onclick="scrollToLetter('D')">D</span>
  <span id="E" onclick="scrollToLetter('E')">E</span>
  <span id="F" onclick="scrollToLetter('F')">F</span>
  <span id="G" onclick="scrollToLetter('G')">G</span>
  <span id="H" onclick="scrollToLetter('H')">H</span>
  <span id="I" onclick="scrollToLetter('I')">I</span>
  <span id="J" onclick="scrollToLetter('J')">J</span>
  <span id="K" onclick="scrollToLetter('K')">K</span>
  <span id="L" onclick="scrollToLetter('L')">L</span>
  <span id="M" onclick="scrollToLetter('M')">M</span>
  <span id="N" onclick="scrollToLetter('N')">N</span>
  <span id="O" onclick="scrollToLetter('O')">O</span>
  <span id="P" onclick="scrollToLetter('P')">P</span>
  <span id="Q" onclick="scrollToLetter('Q')">Q</span>
  <span id="R" onclick="scrollToLetter('R')">R</span>
  <span id="S" onclick="scrollToLetter('S')">S</span>
  <span id="T" onclick="scrollToLetter('T')">T</span>
  <span id="U" onclick="scrollToLetter('U')">U</span>
  <span id="V" onclick="scrollToLetter('V')">V</span>
  <span id="W" onclick="scrollToLetter('W')">W</span>
  <span id="X" onclick="scrollToLetter('X')">X</span>
  <span id="Y" onclick="scrollToLetter('Y')">Y</span>
  <span id="Z" onclick="scrollToLetter('Z')">Z</span>

  <!-- Manager list -->
  <div id="A-manager" style="display: none;">
    <a>Manager sample</a>
 
  </div>
  <div id="B-manager" style="display: none;">
    <ul>
      <li>
        <a onclick="gotoManager(this.textContent)" value="">baillie</a>
        <!-- <a  href="/1088875.html">baillie1</a> -->
        <a href="/1088875.html" target="_blank">baillie1</a>
      </li>
      <li>
        <a onclick="gotoManager(this.textContent)" value="">Berkshire Hassaway</a>
        <a  href="/1036429.html">baillie1</a>
      </li>
    </ul>
 

  </div>


  <div id="C-manager" style="display: none;">
    <a>City 4</a>
  </div>
 
  <div id="D-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="E-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="F-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="G-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="H-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="I-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="J-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="K-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="L-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="M-manager" style="display: none;">
    <a>City 4</a>
  </div>
 
  <div id="N-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="O-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="P-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="O-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="Q-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="R-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="S-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="T-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="U-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="V-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="W-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="X-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="Y-manager" style="display: none;">
    <a>City 4</a>
  </div>
  <div id="X-manager" style="display: none;">
    <a>City 4</a>
  </div>

</div>

</body>

<script src="/static/index.js"></script>

</html>
